<div class="middle">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			  	<% if @friendsHash.count > 0 %>
			  		<% @sortFriends.each do |item| %>			  		
				  			<% @classphoto =  (@alreadyinvitedusers.include? item[0]) ? "fb-invited" : "fb-photo" %>
				  			<% @classphoto =  (@alreadyAcceptedUsers.include? item[0]) ? "fb-invited fb-accepted" : @classphoto %>

				          	<div class="col-lg-4 col-md-4 col-sm-4">
				          		<% if @classphoto == "fb-invited fb-accepted" %>
				          			
				          				<%
								  			@u1 = User.where("uid = (?)", item[0]).pluck(:id)
								  		    @convFriends = Conversation.where("((sender_id IN (?) and recipient_id IN (?)) OR (sender_id IN (?) and recipient_id IN (?))) ", @u1[0], current_user.id, current_user.id, @u1[0])
								  		%>

								  	<div class="image polaroid tint2 tint1" data-id="<%=@u1[0]%>">
				          				<%= link_to image_tag("http://graph.facebook.com/#{item[0]}/picture?type=large"),  conversation_path(@convFriends[0]), class: "float-left conversation conversation#{@u1[0]}", "data-cid" => @convFriends[0].id %>

				          		<% elsif @classphoto == "fb-invited" %>
				          			<div class="image polaroid tint">
				          				<div class="imgReplace"><%= image_tag "http://graph.facebook.com/#{item[0]}/picture?type=large", :class => "float-left #{@classphoto}", :id => item[0] %></div>
				          	 	<% else %>		
				          			<div class="image polaroid">
				          				<div class="imgReplace"><%= image_tag "http://graph.facebook.com/#{item[0]}/picture?type=large", :class => "float-left #{@classphoto}", :id => item[0] %></div>
				          		<% end %>	
									<div class='desc' id="fb_name_<%= item[0]%>">
										<%= @friendsHash[item[0]] %></br>
										<%# if !session[:status] || session[:status] == "true" %>	
											<%= (item[1] == 99999) ? "Not Shared Miles" : item[1].to_s + " Miles Away" %>
										<%# end %>
									</div>
								</div>								
						    </div>
						<% end %>    
			    <% else %>
			    <div class="mess">
			    	<center><p class="text-info">No friends found in your account.</p></center>
			    	<%= link_to 'Click here to invite friends'.html_safe, invite_mail_path %>
			    </div>
			    <% end %>
		</div>
	</div>
</div>

