<div class="container" style="margin-top: 2% !important;">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="friendslist">
				<div class="middle">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							  	<% if @alreadyinvitedusers.count > 0 %>
							  		<% @alreadyinvitedusers.each do |item| %>
								  			<% 
									  			@convFriends = Conversation.where("((sender_id IN (?) and recipient_id IN (?)) OR (sender_id IN (?) and recipient_id IN (?))) ", item.id, current_user.id, current_user.id, item.id)
				      		  		%>
								          	<div class="col-lg-4 col-md-4 col-sm-4">
								          		<div class="image polaroid tint2 tint1" data-id="<%=item.id%>">
									          		<%= link_to image_tag("http://graph.facebook.com/#{item.uid}/picture?type=large"),  conversation_path(@convFriends[0]), class: "float-left conversation conversation#{item.id}", "data-cid" => @convFriends[0].id %>
																<div class='desc' id="fb_name_<%= item[0]%>">
																	<%= item.name %></br>
																	<%=times(item.id) %> Mins <br>
																	<%= (@dt[item.id] == 99999) ? "Not Shared Miles" : @dt[item.id].to_s + " Miles Away" %>
																</div>
															</div>	
														</div>								
										<% end %>    
							    <% else %>
							    <div class="mess">
							    	
							    	<center><p class="text-info" >No friends matched.</p></center>
							    </div>
							    <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
(function a() {
    $(".tint1").click(function(e){
    	if($(e.target).is('.tint1')){
	  		var cid = $(this).attr("data-id");
	  		$(".conversation"+cid).click();
	  	}
  	});
})();
</script>
